<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788836967353-8062m5lho8m3qo33o1v2j17ppb2jqqf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788836967353-8062m5lho8m3qo33o1v2j17ppb2jqqf4</string>
	<key>API_KEY</key>
	<string>AIzaSyCfU-QbWZdLxUx9t69o73bmMfOGnSQD7b8</string>
	<key>GCM_SENDER_ID</key>
	<string>788836967353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bunkieMobilePjt47</string>
	<key>PROJECT_ID</key>
	<string>bunkie-54bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>bunkie-54bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788836967353:ios:92fbb6e0278699b30d0c68</string>
</dict>
</plist>